<a href="https://colab.research.google.com/github/fmfmsd/Chamchee/blob/main/%EC%9E%AC%EA%B7%80%ED%95%A8%EC%88%98_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def hello():
    print('Hello, world!')
    hello()
 
hello()

In [ ]:
def hello(count):
  if count==0:
    return

  print('Hello, Worid!', count)

  count -= 1
  hello(count)

hello(5)

In [13]:
def factorial(n):
  if n== 1:
    return 1
  return n * factorial(n - 1)

print(factorial(5))

120

In [14]:
def factorial(n):
  if n == 1:
    return 1